<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dashboard.dashboard.repository.MemberMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="memberNo">
        insert into member (member_name, member_id, member_pw, member_age)
        values (#{memberName}, #{membeId}, #{memberPw}, #{memberAge})
    </insert>

    <update id="update">
        update member set member_password
        where member_no = #{memberNo}
    </update>

    <delete id="delete">
        delete member where member_no = #{memberNo}
    </delete>
</mapper>